@model List<DotNetCoreSDK.Models.BaseModels.EFileStatus>
 

@{
    ViewBag.Title = "API Option";
}

<div class="spacer25"></div><div id="GetEfileStatus"></div>
<div class="spacer25"></div><div id="GetForm941EfileStatus"></div>


<script type="text/javascript">

    $(function () {
       //GetEfileStatus();
      GetForm941EfileStatus();        
        $(".nav_menu li").removeClass('active');
        $("#liefilestatus").addClass('active');
    });

    function GetForm941EfileStatus() {
        $('#btnDropdown').html('Form 941 <span class="caret"></span>')
        $.ajax({
            url: "/Efile/_GetForm941EFileStatus/",
            cache: false,
            data: {},
            success: function (data) {
                //$('#GetEfileStatus').html("");
                $('#GetForm941EfileStatus').html(data);
            },
            error: function (err) {
                console.log(err.responseText);
            }
        });
    }
  
</script>
